<section class="user-post border border-primary border-3">
  <div class="post-header">
    <input type="hidden" id="blog_id" name="blog_id" value="{{blog.id}}" />
    <h4>
      Posted by:
      <span id="blog-name">{{blog.user.username}}</span>
      on
      <span id="blog-date">{{blog.blog_create_date}}</span>
    </h4>
  </div>

  <div class="post-text">
    <input
      class="input-title form-control new-blog-el"
      id="blog-title"
      type="text"
      value="{{blog.blog_title}}"
    />
    <textarea
      class="blog-textarea form-control new-blog-el"
      id="blog-text"
      type="text"
      value="{{blog.description}}"
    ></textarea>
  </div>

  <div class="comment-lower">
    <a
      id="update-comment"
      class="btn btn-primary new-blog-el"
      role="button"
    >Update</a>
    <a
      id="Delete-comment"
      class="btn btn-warning new-blog-el"
      role="button"
    >Delete</a>
  </div>
</section>

<script src="/js/blogs.js"></script>